.navbar-nav .nav-link.active {
	background-color: #cce6ff;
	color: black !important;
	font-weight: bold;
}

.form-switch .form-check-input {
	width: 2.5em;
	height: 1.5em;
}

.form-switch .form-check-input:checked {
	background-color: #0d6efd;
}

.form-label {
	font-style: italic;
}


/* Table hover style */
.table-hover tbody tr:hover td {
	background-color: #7cb4fc !important;
	/* Bootstrap primary blue */
	color: white !important;
}

/* 
  body {
    font-family: 'Merriweather', serif;
  } */

/* Comment below to see the original properties */


#navbar-container .navbar {
	padding: 0;
	background-color: transparent !important;
	box-shadow: none;
}

#navbar-container .navbar-brand {
	display: none;
}

#navbar-container .container-fluid {
	padding: 0;
}

#navbar-container .navbar-collapse {
	width: 100%;
}

#navbar-container .navbar-nav {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#navbar-container .nav-item {
	margin: 0;
	padding: 0;
}

#navbar-container .nav-link {
	color: #0d6efd !important;
	padding: 8px 15px;
	border-radius: 0;
	text-align: center;
	font-weight: normal;
	transition: all 0.2s ease;
}

#navbar-container .nav-link.active {
	background-color: #0d6efd !important;
	color: white !important;
	font-weight: normal;
	border-radius: 10px !important;
	margin: 2px;
}

@media (min-width: 992px) {
	#navbar-container .navbar-nav {
		display: flex;
	}

	#navbar-container .nav-item {
		flex: 0 0 auto;
	}
}

@media (max-width: 991px) {
	#navbar-container .navbar-nav {
		flex-direction: column;
	}

	.navbar-toggler {
		background-color: #0d6efd;
	}
}